[Unit]
Description=LED Matrix Monitor
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/user/python/matrix/matrix_monitor.py
WorkingDirectory=/home/pi
Restart=always
User=pi

[Install]
WantedBy=multi-user.target